.width_fig_wid{
    width: 120px;
    padding: 5px;
    margin: 3px;
}

.layout_wid{
    width: 65px;
    padding: 5px;
    margin: 3px;
}

.width_layout2_wid{
    width: 100px;
    padding: 5px;
    margin: 3px;
    
}

.width_traces_wid{
    width: 120px;
    padding: 5px;
    margin: 3px;
    
}

  